<%- include("partials/header"); %>
<div >
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#"><i class="fab fa-galactic-senate"></i><strong class="pl-2">Hypay</strong></a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
          <li class="nav-item active">
                <a class="nav-link" href="/home">Home<span class="sr-only">(current)</span></a>
          </li>
		  <li class="nav-item ">
			<a class="nav-link" href="/addBus">Add</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/updateBus">Update</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/deleteBus">Delete</a>
		  </li> 
		  <li class="nav-item">
			<a class="nav-link" href="/logout">Logout</a>
		  </li>
		</ul>
	  </div>
    </nav>

    <div class="container mt-4">
        <button class="btn btn-primary btn-sm" ><a href="/home" class="text-white">Refresh</a></button>
        <div class="card mt-2">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4 text-primary">
                        <h4>Buses Running</h4>
                    </div>
                    <div class="col-lg-4 text-primary">
                        <h4>Tickets Booked</h4>
                    </div>
                    <div class="col-lg-4 text-primary">
                        <h4>Tickets Used</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <h3><%= buses.length %></h3>
                    </div>
                    <div class="col-lg-4">
                        <h3><%= admin.ticketsBooked %></h3>
                    </div>
                    <div class="col-lg-4">
                        <h3><%= admin.ticketsUsed %></h3>
                    </div>
                </div>
                <h2 class="text-center my-2">Console Monitor</h2>
                <table class="table table-dark mt-3">
                    <tr class="tr">
                        <th>S.No</th>
                        <th>Bus Id</th>
                        <th>Key</th>
                        <th>Total Seats</th>
                        <th>Total Avail</th>
                        <th>Need Ride</th>
                    </tr>
                    <% var i = 1 %>
                    <% buses.forEach((bus)=> {%>
                        <tr class="tr">
                            <th><%=i++%></th>
                            <th><a href="busData/<%=bus.number%>"><%=bus.number%></a></th>
                            <th><%=bus.key%></th>
                            <th><%=bus.seats%></th>
                            <th><%=bus.available%></th>
                            <th><%=bus.need%>
                              <%  if(bus.reqs.length!=0){%>
                                    <a href="/viewReq/<%=bus.number%>">view</a>
                            <%}%>
                            </th>
                        </tr>
                    <% }) %>
                </table>
            </div>
        </div>
    </div>
<%- include("partials/footer"); %>