<%- include("partials/header"); %>
<div>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#"><i class="fab fa-galactic-senate"></i><strong class="pl-2">Hypay</strong></a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
		  <li class="nav-item active">
			<a class="nav-link" href="/logged">Home <span class="sr-only">(current)</span></a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/about">About</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/logout">Logout</a>
		  </li>
		</ul>
	  </div>
	</nav>
	<div class="container">
		<h2 class="text-dark text-center">Billing</h2>	
		<div class="card">
		  <h5 class="card-header">Details </h5>
		  <div class="card-body">
			  <h5 class="card-title">Bookie name : <strong> <%= User.uname.toUpperCase() %> </strong></h5>
			  <p class="card-text">Time           : <strong> <%= Bus.ftime %> </strong> to <strong><%= Bus.totime %></strong></p>
			  <p class="card-text">Travel         : <strong> <%= Bus.from %> </strong> to <strong><%= Bus.to %></strong></p>
		  </div>
		</div>
		<div class="card">
		  <h5 class="card-header">Seats </h5>
		  <div class="card-body">
			  <p class="card-text" >Price per ticket  : (Rs.) <strong><span id="cost"><%= Bus.price %></span></strong> </p>
			  <p class="card-text" >Availabel seats  : <strong><span id="avail"><%= Bus.available %></span></strong> </p>
			  <form class="form" method="post" action="/paymentGateway/<%= User.id%>/<%= Bus.number%>">
				  <div class="form-group">
					  <label for="seats" class="card-text" >Number of seats : </label>
					  <input type="number" id="seats" name="seats" value="1" min='1' class="ml-2 border rounded form-control">
				  </div>
				  <p></p>
				  <div class="form-group">
					  <label for="seats" class="card-text" >Net cost  (Rs.) : </label>
					  <input  type="text" id='netcost' name="netcost" value="<%= Bus.price %>" class="ml-2 border rounded form-control" readonly>
				  </div>		  
		<div class="text-center">
			<button type="submit" class=" btn btn-danger btn-lg rounded-pill mx-auto mt-2">Make Payment</button>
		</div>
			  </form>
			  <p></p>
		  </div>
			
		</div>
	</div>
</div>
<script>
	
	var seats = document.getElementById("seats");
	var cost = document.getElementById("cost");
	seats.onchange = ()=>{
		var x=Number(cost.innerHTML);
		document.getElementById("netcost").value=seats.value*x;
	}
	
</script>
<%- include("partials/footer"); %>