<%- include("partials/header"); %>
<div >
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#"><i class="fab fa-galactic-senate"></i><strong class="pl-2">Hypay</strong></a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
		  <li class="nav-item active">
			<a class="nav-link" href="/logged">Home <span class="sr-only">(current)</span></a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/about">About</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/logout">Logout</a>
		  </li>
		</ul>
	  </div>
    </nav>
    <div class="container mt-2">
        <div class="card">
            <div class="card-body">
                <h3 class="text-primary text-center">
                    Accept Log of User <%=user.uname%>
                </h3>
               <% var i = 1;%>
               <% user.accepts.forEach((acc)=>{%>
                    <div class="card">
                        <div class="card-header">
                          Requent No. : <%= i++%>
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">Bus Number :<%=acc.bus%></h5>
                          <p class="card-text">No. of Seats : <%=acc.seats%></p>
                          <a href="/confirmBill/<%=user.id%>/<%=acc.bus%>/<%=acc.seats%>" class="btn btn-danger">Book Ride</a>
                        </div>
                      </div>
              <% }) %>            
        </div>
    </div>
</div>
<%- include("partials/footer"); %>